* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(19, 18, 18);
  color: rgb(174, 129, 233);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(174, 129, 233);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(174, 129, 233);
}

.navbar {
  width: 95%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.logo {
  margin-left: 20px;
}

.trending {
  margin-right: 60px;
  width: 150px;
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.search {
  width: 50%;
  height: 50px;
  border-radius: 20px;
  font-size: 2rem;
  outline: none;
  min-width: 350px;
}

.submit-button {
  background: none;
  border: none;

}

.search-container {
  display: flex;
  gap: 10px;
  width: 80vw;
  justify-content: center;
}